.homepage {
  background-color: var(--color-bg); 
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
}

.hero-text {
  color: var(--color-text);
  text-align: center;
    
}

.hero-title {
  font-family: 'BrittanySignature', cursive;
  font-size: 6rem;
 
  color: var(--color-text);
}

.hero-subtitle {
  font-family: 'BrittanySignature', cursive;
  font-size: 3rem;
  margin-top: 2rem;
  color: var(--color-accent);
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 4rem;
  }
  .hero-subtitle {
    font-size: 2rem;
  }
}