.homepage {
  background-color: var(--color-bg); 
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Conteneur du texte centré */
.hero-text {
  color: var(--color-text);
  text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_title {
  font-family: 'BrittanySignature', cursive;
  font-size: 6rem;
  margin-top: auto;
  color: var(--color-text);
}

.hero_desc {
  font-family: 'BrittanySignature', cursive;
  font-size: 3rem;
   padding-top: 80px;
  margin-top: var(--spacing-m, 2rem);
  color: var(--color-secondary);
}
