@font-face {
  font-family: 'BrittanySignature';
  src: url('../../assets/fonts/BrittanySignatureRegular.woff2') format('woff2'),
    url('../../assets/fonts/BrittanySignatureRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}