:root {
    /* ===== Thème sombre par défaut ===== */
  /* Couleurs principales */
  --color-bg: #121212;               
  --color-text: #EAEAEA;             
  --color-secondary: #2C3E50;        
  --color-accent: #FF6B6B;          
  --color-error: #FF4D4D ;
  --color-success: #44D27C;
  --color-buttons: #EAEAEA; 

  /* Typographies */
  --font-main: 'Inter', sans-serif;  /* Police de base */
  --font-size: 1.15rem;


  /* Espacements */
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 2rem;

  /* Arrondis */
  --radius: 0.5rem;

}




