:root {
    /* ===== Thème sombre par défaut ===== */
  /* Couleurs principales */
  --color-bg: #121212;               /* Noir profond */
  --color-text: #EAEAEA;             /* Texte clair */
  --color-secondary: #2C3E50;        /* Gris bleuté */
  --color-accent: #FF6B6B;           /* Corail */
  --color-error: #C0392B;
  --color-success: #27AE60;
  --color-buttons: #EAEAEA; 

  /* Typographies */
  --font-main: 'Inter', sans-serif;  /* Police de base */
  --font-size: 1.15rem;


  /* Espacements */
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 2rem;

  /* Arrondis */
  --radius: 0.5rem;

}




